body {
    overflow-x: hidden;
    overflow-y: auto;
}

#header {
    position: fixed;
    width: 100%;
    min-width: 1000px;
    height: 80px;
    z-index: 100;
    transition: background-color 0.6s ease-in-out;
    color: black;
    background-color: #20b2aa;
}

article > h1 {
    color: white;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Acme', sans-serif;
    font-size: 40px;
}

#roomList-container {
    display: flex;
    flex-direction: column;
}

.amenities {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
    padding-bottom: 20px;
}

.border {
    border: 1px solid black;
}

#hotel-name {
    font-weight: bold;
    font-size: 2em;
    align-self: center;
    text-decoration: underline;
}

.indi-room {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

#Address {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Acme', sans-serif;
    color:blueviolet;
}

.facilities {
    padding-left: 25px;
    padding-right: 5px;
}

.map-bottom {
    height: 250px;
}

.main-container {
    max-width: 1300px;
    background-color: #fff;
    line-height: 1.65;
    padding: 0;
    display: flex;
    margin: 0;
    height: 60px;
}

.col-md-12 {
    padding-top: 50px;
}

#room-heading {
    font-size: 20px;
    font-weight:100;
    color: brown;
    text-decoration: underline;
    font-family: 'Acme', sans-serif;
}

.room-description {
    padding-top: 10px;
    padding-left: 10px;
}

#Price {
    padding-left: 10px;
}

.room-style {
    font-size: 20px;
    font-family: 'Acme', sans-serif;
}

.room-info-style {
    font-family: 'Times New Roman';
    font-weight: bold;
    text-decoration: underline;
}

.sub-heading {
    padding-left: 30px;
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    padding-bottom: 10px;
    text-decoration: underline;
}

#descriptions {
    padding-left: 30px;
}

.first-section {
    border-bottom: 1px solid black;
}

.col-md-4 {
    padding-bottom: 20px;
    display: flex;
    flex-flow: column;
}

#hotel-info-section {
    padding-top: 80px;
}

.second-section > .col-md-12 {
    padding-top: 10px;
}

#rooms {
    padding-bottom: 20px;
}
.maroon{
    color:maroon;
}