#roomList-container {
    display: flex;
    flex-direction: column;
    margin: 0px 3em 0px 5em;
}

#amenities {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
}

.border {
    border: 1px solid black;
}

#hotel-name {
    font-weight: bold;
    font-size: 2em;
    color: #944c00;
}

.indi-room {
    display: flex;
    flex-direction: column;
}

#hotel-name-rating {
    display: flex;
    flex-direction: row;
}

#hotel-rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
    font-size: 2em;
}

.starred {
    color: #DAA520;
}

.unstarred {
    color: #EEE8AA;
}

#hotel-address {
    padding: 5px;
    display: flex;
    align-content: center;
}

#hotel-address span>img {
    width: 1.2em;
    height: 1.2em;
}