body {
    background: url(../Resources/loading-circle.svg) no-repeat center  fixed;
    background-size: 200px;
    margin: 0;
}

.somediv {
    background-color: aliceblue;
   
}
#header {
    position: fixed;
    width: 100%;
    min-width: 1000px;
    height: 80px;
    z-index: 100;
    transition: background-color 0.6s ease-in-out;
    color: black;
    background-color: #ff9933;
}

article > h1 {
    color: white;
    margin: 0;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    font-family: 'Acme', sans-serif;
    font-size:40px;
}
section > article {
    width: 200px;
    height: 70px;
    margin: 0;
    font-family: 'Alegreya', serif;
    color: white;
}
.glyphicon{
    color:goldenrod;
}


.one-hotel-list-container {
    padding-left: 50px;
    width: 1500px;
}

#hotelList-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 100px;
    padding-left: 250px;
    padding-right: 250px;
    justify-content: space-between;
}
div {
    border: 0;
    margin: 0;
}
.hotels-info-container 
{
  
    padding-bottom: 30px;
    display: flex;
    flex-flow: wrap;
    border: solid black;
    width: 1200px;
    flex-flow: row wrap;
    justify-content:space-between;
    color:white;
    background-color:black;
     padding-left:20px;
    padding-top:10px;
    border-radius:10px;
   
}
.hotel-img-container
{
    margin:0;
    flex:1;
    padding-top:20px;
    padding-left:10px;

}
.one-hotel-info 
{
    width: 500px;
    flex: 1;
    font-family: 'Acme', sans-serif;
}
.button-container{
    width:150px;
    flex:1;
    padding-left:80px;
    padding-top:100px;
}
#bookNowButton
{
 width:200px;
 height:50px;
 background-color:lightseagreen;

}
.img-format
{
   width:300px;
}
h2
{
    text-decoration:underline;
}
