body{
    background-color:black;
    margin:0;
}
.somediv {
    background-color: aliceblue;
    border: thick solid #0099ff;
    color: black;
    text-decoration-color: black;
    
    
}

.somediv h2
{
	font-weight:900;
	
}
#header {
    position: fixed;
    width: 100%;
    min-width: 1000px;
    height: 80px;
    z-index: 100;
    transition: background-color 0.6s ease-in-out;
    color: blue;
    padding-top:20px;
    background-color: brown;
    opacity: 0.6;

}
article > img {
    width: 340px;
    height: 50px;
}

.color-white{
    color:white;
}
#hotel-list{
    padding:105px;
    border:solid black;
}
