body {
    margin: 0;
    min-width: 320px;
    min-height: 480px;
    overflow-x: hidden;
    background: rgb(13, 52, 71);
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#payNow {
    width: 150px;
    background-color: rgb(13, 52, 71);
    opacity: 0.8;
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-family: 'Acme', sans-serif;
}

button:hover {
    background-color: #0094ff;
}



div > article {
    background-color: rgb(222, 220, 220);
    width: 84%;
    margin-left: 40px;
    margin-right: 40px;
    padding-left: 40px;
    padding-right: 90px;
    padding-top: 20px;
}

h2 {
    font-weight: 100;
    margin: 0;
    color: black;
    text-decoration: underline;
    font-family: 'Acme', sans-serif;
    padding: 0;
    padding-bottom: 20px;
}

#form-section {
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 150px 100px 300px 100px;
    font-family: 'Acme', sans-serif;
}

fieldset {
    border: 0;
    justify-content: space-between;
    padding: 0;
}

.In {
    float: left;
    padding-left: 0px;
}

.Out {
    float: left;
}

.button-style {
    padding-bottom: 30px;
}

#payNow {
    color: white;
}

#cvcDiv {
    padding-right: 80%;
}
