body {
    margin: 0;
    min-width: 320px;
    min-height: 480px;
    overflow: hidden;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0px;
    font-size: 40px;
    font-family: 'Acme', sans-serif;
    padding-bottom: 25px;
    padding-left: 20px;
    float: left;
}

div > img {
    width: 340px;
    height: 50px;
}

ul {
    margin-top: 0;
    list-style-type: none;
    overflow: hidden;
    color: blue;
    padding-left: 220px;
    padding-top: 20px;
}

#header {
    position: fixed;
    width: 100%;
    min-width: 1000px;
    height: 80px;
    z-index: 100;
    transition: background-color 0.6s ease-in-out;
    color: blue;
    padding-top: 30px;
    background-color: #ff9933;
}

li {
    float: left;
    text-align: center;
}

a {
    text-decoration: none;
    float: left;
}

li a {
    display: block;
    padding-right: 16px;
    font-size: 18px;
    padding-top: 20px;
}

.padding-left {
    padding-left: 2px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100px;
    background-color: #ff9900;
    color: black;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

    button:hover {
        background-color: #ffd11a;
    }

div {
    margin: 0;
    border-radius: 5px;
    padding: 0px;
}

    div > article {
        background-color:rgb(26,26,26);
        opacity: 0.9;
        border-radius: 8px;
        width: 80%;
        margin-left: 40px;
        margin-right: 40px;
        padding-left: 40px;
        padding-right: 90px;
        padding-top: 20px;
    }

h2 {
    margin: 0;
    color:white;
    font-family: 'Cinzel', serif;
    padding: 0;
    padding-bottom: 10px;
}

article {
    margin: 0;
    font-family: 'Alegreya', serif;
    color: white;
}

.call-out-container {
    max-width: 400px;
    margin: 20px auto 0 auto;
    display: flex;
}

.call-out {
    padding: 10px;
    margin-bottom: 10px;
    flex: 1;
}

/*span {
    display: inline;
}*/



#form-section {
    position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 300px 100px 300px 100px;
    background: url(../Resources/xyz.jpg);
  }


/*#btn-style {
    background: transparent;
    border: transparent;
}*/

nav {
    float: right;
}

.main-container {
    max-width: 1300px;
    background-color: #fff;
    line-height: 1.65;
    padding: 0;
    display: flex;
    margin: 0;
    height: 60px;
}

.first-container {
    flex: 1;
    order: 1;
}

.second-container {
    padding-top: 10px;
    flex: 1;
    order: 2;
}

#search-field {
    width: 60%;
    min-width: 179px;
}

#ci-datepicker {
    width: 180px;
}

#co-datepicker2 {
    width: 180px;
}



.button-padding {
    padding-bottom: 30px;
    padding-top: 30px;
}

fieldset {
    border: 0;
    justify-content: space-between;
    padding: 0;
}

.column-nested {
    max-width: 1500px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 0;
    display: flex;
    margin: 0;
    height: 60px;
}

.In {
    float: left;
    padding-right: 30px;
    padding-left: 0px;
}

.Out {
    float: left;
    padding-right: 30px;
}
