@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Index Page</title>
</head>
<body>
    This is the index page.
</body>
</html>